<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
            <h1 class="big big-2">Projects</h1>
            <h2 class="mb-4">Our Projects</h2>
            <p>I'm thrilled to present my portfolio of innovative applications spanning web, Android, and Windows
                platforms. As a passionate developer, I've crafted each project with precision and a keen eye for user
                experience</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                style="background-image: url(../static/images/project-4.png);">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                    <span>Mobile Design</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                style="background-image: url(../static/images/project-5.png);">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                    <span>Web Design</span>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                style="background-image: url(../static/images/project-1.jpg);">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                    <span>Windows Design</span>
                </div>
            </div>

            <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                style="background-image: url(../static/images/project-6.jpg);">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                    <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                    <span>Windows Design</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                        style="background-image: url(../static/images/project-2.png);">
                        <div class="overlay"></div>
                        <div class="text text-center p-4">
                            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                            <span>Mobile Design</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                        style="background-image: url(../static/images/project-3.png);">
                        <div class="overlay"></div>
                        <div class="text text-center p-4">
                            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                            <span>Mobile Design</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>