<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col-md-10 heading-section text-center ftco-animate">
            <h1 class="big big-2">Resume</h1>
            <h2 class="mb-4">Resume</h2>
            <p>
                Experienced and passionate developer dedicated to continuous learning. Eager to contribute my expertise
                in software development to innovative projects while fostering the transfer of scientific knowledge to
                future generations. Committed to staying at the forefront of technological advancements and making
                meaningful contributions to the field.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="resume-wrap ftco-animate">
                <span class="date">2008-2009</span>
                <h2>Baccalaureate in Science Mathematics branch -B-</h2>
                <span class="position">Technical high school</span>
                <!-- <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p> -->
            </div>
            <div class="resume-wrap ftco-animate">
                <span class="date">2010-2011</span>
                <h2>DEUG Science Math Apply</h2>
                <span class="position">Cadi Ayyad University</span>
                <!-- <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p> -->
            </div>
            <div class="resume-wrap ftco-animate">
                <span class="date">2019-2020</span>
                <h2>International Computer Driving License ICDL – Basic Techniques</h2>
                <span class="position">Edraak</span>
                <!-- <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p> -->
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="resume-wrap ftco-animate">
                <span class="date">2020-2021</span>
                <h2>Pedagogical training diploma in Educational Sciences and Didactics</h2>
                <span class="position">Centre Formacademy</span>
                <!-- <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p> -->
            </div>
            <div class="resume-wrap ftco-animate">
                <span class="date">2021-2022</span>
                <h2>Technical Higher Certificate in data Analytics;</h2>
                <span class="position">Laboratory of forensic and data analysis</span>
                <!-- <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p> -->
            </div>
            <div class="resume-wrap ftco-animate">
                <span class="date">2023-2024</span>
                <h2>Software engineering</h2>
                <span class="position">Holberton University</span>
                <!-- <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p> -->
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center ftco-animate">
            <p><a href="https://drive.google.com/file/d/1Y0z0_kmCXb5jiLqG5wkbX1Si2bXYWdQb/view?usp=view" target="_blank"
                    class="btn btn-primary py-4 px-5">Download CV</a></p>
        </div>
    </div>
</div>