<div class="container">
    <div class="row justify-content-center py-5 mt-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
            <h1 class="big big-2">Services</h1>
            <h2 class="mb-4">Services</h2>
            <p>Are you in search of exceptional services tailored to your needs? Look no further – you've arrived at the
                right destination. I specialize in a diverse array of services designed to meet your unique requirements
                and elevate your projects. If you find yourself in need of any of the following, you're in the right
                place</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center d-flex ftco-animate">
            <a href="#" class="services-1">
                <span class="icon">
                    <i class="flaticon-innovation"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5">Android Developer</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center d-flex ftco-animate">
            <a href="#" class="services-1">
                <span class="icon">
                    <i class="flaticon-analysis"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5">Data analytics</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center d-flex ftco-animate">
            <a href="#" class="services-1">
                <span class="icon">
                    <i class="flaticon-ideas"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5">Web Developer</h3>
                </div>
            </a>
        </div>

        <div class="col-md-4 text-center d-flex ftco-animate">
            <a href="#" class="services-1">
                <span class="icon">
                    <i class="flaticon-flasks"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5">Templates MS Office</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center d-flex ftco-animate">
            <a href="#" class="services-1">
                <span class="icon">
                    <i class="flaticon-flasks"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5">Data entry</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center d-flex ftco-animate">
            <a href="#" class="services-1">
                <span class="icon">
                    <i class="flaticon-ideas"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5">Box magic</h3>
                </div>
            </a>
        </div>
    </div>
</div>