<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
            <h1 class="big big-2">Skills</h1>
            <h2 class="mb-4">My Skills</h2>
            <p>With a strong proficiency in various programming languages, I bring a dynamic skill set to learn new
                languages. My expertise spans more than next skills</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 animate-box">
            <div class="progress-wrap ftco-animate">
                <h3>Dart-Flutter</h3>
                <div class="progress">
                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100" style="width:90%">
                        <span>90%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animate-box">
            <div class="progress-wrap ftco-animate">
                <h3>MYSQL</h3>
                <div class="progress">
                    <div class="progress-bar color-2" role="progressbar" aria-valuenow="96" aria-valuemin="0"
                        aria-valuemax="100" style="width:96%">
                        <span>96%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animate-box">
            <div class="progress-wrap ftco-animate">
                <h3>HTML</h3>
                <div class="progress">
                    <div class="progress-bar color-3" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                        aria-valuemax="100" style="width:95%">
                        <span>95%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animate-box">
            <div class="progress-wrap ftco-animate">
                <h3>CSS</h3>
                <div class="progress">
                    <div class="progress-bar color-4" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100" style="width:90%">
                        <span>90%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animate-box">
            <div class="progress-wrap ftco-animate">
                <h3>Python-Flask</h3>
                <div class="progress">
                    <div class="progress-bar color-5" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100" style="width:90%">
                        <span>90%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animate-box">
            <div class="progress-wrap ftco-animate">
                <h3>MS Office VBA</h3>
                <div class="progress">
                    <div class="progress-bar color-6" role="progressbar" aria-valuenow="98" aria-valuemin="0"
                        aria-valuemax="98" style="width:98%">
                        <span>98%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>